<header class="header">
  <div class="header__title">Список городов</div>
</header>

<main class="main">
  <button class="main__list" (click)="viewType = 'list'" [class.main__list--active]="viewType === 'list'">Список</button>
  <button class="main__tile" (click)="viewType = 'tile'" [class.main__tile--active]="viewType === 'tile'">Плитка</button>
  <a routerLink="/new-city" class="main__create">Создать</a>
</main>

<div *ngIf="viewType === 'list'">
  <app-list-view></app-list-view>
</div>

<div *ngIf="viewType === 'tile'">
  <app-tile-view></app-tile-view>
</div>
