.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 80vw;

  &__label {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 14px;
    line-height: 143%;
    color: var(--view-text);
  }
  
  &__name {
    height: 36px;
  }
  
  &__name,
  &__description,
  &__image {
    border: 1px solid var(--view-border);
    border-radius: 2px;
    max-width: 40%;
  
    margin-bottom: 20px;
  }
  
  @media (max-width: 700px) {
    &__name,
    &__description,
    &__image {
      max-width: 60%;
    }
  }
  
  &__description {
    height: 80px;
  }
  
  &__image {
    height: 36px;
  
    margin-bottom: 40px;
  }
  
  &__submit {
    cursor: pointer;
  
    border: 1px solid var(--create-border);
    border-radius: 2px;
    padding: 0px 16px;
    width: 88px;
    height: 36px;
    background: var(--create-background);
  
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 14px;
    line-height: 257%;
    color: var(--create-text);
  
    -webkit-transition: 200ms;
  
    -o-transition: 200ms;
  
    transition: 200ms;
  }
  
  &__submit:hover {
    color: var(--create-background);
    background: var(--create-text);
  }
  
  &__submit:active {
    -webkit-transform: scale(0.95);
    -ms-transform: scale(0.95);
    transform: scale(0.95);
  }
}